<script lang="ts">
	import Icon from '@iconify/svelte';
	import { Modals, closeModal, openModal } from 'svelte-modals';
	import { animate } from 'motion';
	import { onMount } from 'svelte';
	import { SyncLoader } from 'svelte-loading-spinners';

	import Card from './lib/Card.svelte';
	import Login from './lib/Login.svelte';
	import { getRandomColor } from './functions/randomColor';
	import { loginToken, cards, searchQuery, searchTag } from './stores';
	import CreateCard from './lib/CreateCard.svelte';
	import { cardService } from './services/card.service';

	const randomChar = (Math.random() + 1).toString(36).substring(11);
	const loadingColor = getRandomColor(randomChar);
	let loading = true;

	onMount(async () => {
		$cards = await cardService.getCards().finally(() => {
			loading = false;
		});
	});

	const onLoginClicked = () => {
		openModal(Login);
	};

	const onLogoutClicked = () => {
		$loginToken = '';
	};

	const transform = ['scaleX(0)', 'scaleX(1)'];
	let searchBarOpen = false;
	let searchRef = null;

	const onSearchClicked = () => {
		animate(
			'#searchfield',
			{
				transform: searchBarOpen ? [...transform].reverse() : transform
			},
			{
				duration: 0.6
			}
		).finished.then(() => {
			searchBarOpen = !searchBarOpen;
			searchRef.focus();
		});
	};

	const onSubmit = async (e: any): Promise<void> => {
		$searchQuery = (document.getElementById('searchfield') as HTMLInputElement).value;
		$cards = [];
		$cards = await cardService.search($searchQuery, $searchTag);
	};
</script>

<Modals>
	<div
		slot="backdrop"
		class="fixed top-0 bottom-0 left-0 right-0 bg-opacity-50"
		on:click={closeModal}
		on:keypress={closeModal}
	/>
</Modals>

<div class="w-screen h-screen p-16 bg-poopts-back overflow-scroll overflow-x-hidden">
	<div class="absolute top-5 right-16 flex flex-row">
		<form on:submit|preventDefault={onSubmit}>
			<input
				bind:this={searchRef}
				placeholder="Search"
				type="text"
				id="searchfield"
				class="mt-0 block mx-0.5 border-0 border-b-2 border-gray-500 w-full scale-0 focus:ring-0 focus:border-gray-700"
			/>
		</form>

		<button on:click={onSearchClicked}>
			<Icon icon="ant-design:search-outlined" class="text-white w-10 h-10 hover:cursor-pointer" />
		</button>
	</div>

	{#if $loginToken.length === 0}
		<button on:click={onLoginClicked} class="absolute top-5 right-5">
			<Icon icon="ant-design:login-outlined" class="text-white w-10 h-10 hover:cursor-pointer" />
		</button>
	{:else}
		<button on:click={onLogoutClicked} class="absolute top-5 right-5">
			<Icon icon="ant-design:logout-outlined" class="text-white w-10 h-10 hover:cursor-pointer" />
		</button>
	{/if}

	{#if loading}
		<div class="flex items-center justify-center h-full">
			<SyncLoader size="60" color={loadingColor} unit="px" duration="1s" />
		</div>
	{:else}
		<div class="flex flex-row justify-around w-full gap-4 flex-wrap mt-3">
			{#each $cards as model}
				<Card {model} />
			{/each}
			{#if $loginToken.length > 0}
				<CreateCard />
			{/if}
		</div>
	{/if}
</div>
