<script lang="ts">
	import Icon from '@iconify/svelte';
	import SvelteMarkdown from 'svelte-markdown';
	import { form, field } from 'svelte-forms';
	import { animate } from 'motion';
	import { onMount, afterUpdate, onDestroy } from 'svelte';

	import type CardModel from '../interfaces/card-model.interface';
	import { getRandomColor } from '../functions/randomColor';
	import { loginToken, cards, searchQuery, searchTag } from '../stores';
	import { cardService } from '../services/card.service';
	import { openModal } from 'svelte-modals';
	import NewTag from './NewTag.svelte';

	export let model: CardModel;

	let editMode = false;
	let disableFields = false;
	let cancelSave: Omit<CardModel, 'id'>;

	const title = field('title', model.title);
	const content = field('content', model.content);
	const tags = field('tags', model.tags);

	const cardForm = form(title, content, tags);

	const removeTag = (tagName: string): void => {
		$tags.value = [...$tags.value.filter((tag) => tag !== tagName)];
	};

	const addTag = () => {
		openModal(NewTag, {
			setTagName: (tagName) => {
				$tags.value = [...$tags.value, tagName];
			}
		});
	};

	const updateCard = (): void => {
		disableFields = true;
		const { title, content, tags } = $cardForm.summary as any;
		cardService
			.update({
				id: model.id,
				title,
				content,
				tags
			})
			.then((result) => {
				$title = result.title;
				$content = result.content;
				$tags = result.tags;
			})
			.finally(() => {
				disableFields = false;
				editMode = false;
				cancelSave = null;
			});
	};

	const cancelEdit = (): void => {
		const { title, content, tags } = $cardForm.summary as any;
		$title = cancelSave.title;
		$content = cancelSave.content;
		$tags = cancelSave.tags;
		disableFields = false;
		editMode = false;
	};

	const deleteCard = (): void => {
		disableFields = true;
		cardService.delete(model.id).finally(() => {
			$cards = $cards.filter((card) => card.id != model.id);
		});
	};

	const toggleSearchTag = async (tag: string) => {
		if ($searchTag === tag) {
			$searchTag = '';
			$cards = [];
			$cards = await cardService.getCards();
		} else {
			$searchTag = tag;
			$cards = [];
			$cards = await cardService.search($searchQuery, $searchTag);
		}
	};

	onMount(() => {
		animate(
			'.card',
			{ opacity: 1, transform: ['translateY(0.75rem)'] },
			{ delay: 0.2, duration: 0.5, easing: ['ease-in'] }
		);
	});

	afterUpdate(() => {
		animate(
			'.card-' + model.id,
			{ opacity: 1, transform: ['translateY(0.75rem)'] },
			{ delay: 0.2, duration: 0.5, easing: ['ease-in'] }
		);
	});

	const enableEdit = (): void => {
		const { title, content, tags } = $cardForm.summary as any;
		cancelSave = {
			title,
			content,
			tags
		};
		editMode = true;
	};
</script>

<div
	style="background-color: {getRandomColor($title.value)}"
	class="card card-{model.id} -translate-y-3 max-w-sm w-[24rem] rounded overflow-hidden shadow-lg prose hover:shadow-xl transition duration-0 hover:duration-700 ease-in-out opacity-0"
>
	{#if !editMode}
		{#if $loginToken.length > 0}
			<div class="flex flex-row p-3">
				<button on:click={deleteCard}>
					<Icon icon="bi:trash" />
				</button>
				<button class="ml-auto" on:click={enableEdit}>
					<Icon icon="ant-design:edit-filled" />
				</button>
			</div>
		{/if}
		<div class="px-6 py-4">
			<h1 class="font-bold truncate text-2xl mb-2">{$title.value}</h1>
			<div class="overflow-scroll max-h-60">
				<SvelteMarkdown source={$content.value} />
			</div>
		</div>
		<div class="px-6 pt-4 pb-2">
			{#each $tags.value as tag}
				<div
					class="inline-flex flex-row items-center max-w-fit bg-gray-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
					class:bg-blue-400={$searchTag === tag}
				>
					<button on:click={() => toggleSearchTag(tag)}>{tag}</button>
				</div>
			{/each}
		</div>
	{:else}
		<div class="flex flex-row p-3">
			<button
				disabled={disableFields}
				class:text-gray-500={disableFields}
				class:border-gray-500={disableFields}
				on:click={cancelEdit}
				class="px-2 py-1 border-gray-600 border-2 rounded-xl text-gray-600 font-semibold"
			>
				Cancel
			</button>
			<button
				disabled={disableFields}
				class:text-gray-500={disableFields}
				class:border-gray-500={disableFields}
				on:click={updateCard}
				class="ml-auto px-2 py-1 border-gray-600 border-2 rounded-xl text-gray-600 font-semibold"
			>
				Save
			</button>
		</div>
		<div class="px-6 py-4">
			<label for="title">Title</label>
			<input
				bind:value={$title.value}
				disabled={disableFields}
				class:text-gray-500={disableFields}
				type="text"
				id="title"
				class="
                    mt-0
                    block
                    w-full
                    px-0.5
                    border-0 border-b-2 border-gray-500
                    focus:ring-0 focus:border-gray-700
                "
				style="background-color: {getRandomColor(model.title)}"
				required
			/>

			<label for="content">Content</label>
			<textarea
				bind:value={$content.value}
				disabled={disableFields}
				class:text-gray-500={disableFields}
				id="content"
				class="
                    mt-0
                    block
                    w-full
                    px-0.5
                    border-0 border-b-2 border-gray-500
                    focus:ring-0 focus:border-gray-700
                "
				style="background-color: {getRandomColor(model.title)}"
				required
			/>
		</div>
		<div class="px-6 pt-4 pb-2">
			{#each $tags.value as tag}
				<div
					class="inline-flex flex-row items-center max-w-fit bg-gray-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
				>
					<button
						disabled={disableFields}
						class:text-gray-500={disableFields}
						on:click={() => removeTag(tag)}
					>
						<Icon class="hover:cursor-pointer" icon="ant-design:close-outlined" /></button
					>
					{tag}
				</div>
			{/each}
			<div
				class="inline-flex flex-row items-center max-w-fit bg-gray-300 rounded-full p-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
			>
				<button
					disabled={disableFields}
					class:text-gray-500={disableFields}
					on:click={() => addTag()}
				>
					<Icon class="hover:cursor-pointer" icon="ant-design:plus-outlined" />
				</button>
			</div>
		</div>
	{/if}
</div>
