<script lang="ts">
	import Icon from '@iconify/svelte';
	import { animate } from 'motion';
	import { onMount, afterUpdate } from 'svelte';
	import { field, form } from 'svelte-forms';
	import { openModal } from 'svelte-modals';

	import { getRandomColor } from '../functions/randomColor';
	import { cardService } from '../services/card.service';
	import { cards } from '../stores';
	import NewTag from './NewTag.svelte';

	let createCardState = false;

	const randomChar = (Math.random() + 1).toString(36).substring(11);
	const loadingColor = getRandomColor(randomChar);

	let disableFields = false;

	const title = field('title', '');
	const content = field('content', '');
	const tags = field('tags', []);

	const cardForm = form(title, content, tags);

	const removeTag = (tagName: string): void => {
		$tags.value = [...$tags.value.filter((tag) => tag !== tagName)];
	};

	const addTag = () => {
		openModal(NewTag, {
			setTagName: (tagName) => {
				$tags.value = [...$tags.value, tagName];
			}
		});
	};

	onMount(() => {
		animate(
			'.create-card',
			{ opacity: 1, transform: ['translateY(0.75rem)'] },
			{ delay: 0.2, duration: 0.5, easing: ['ease-in'] }
		);
	});

	afterUpdate(() => {
		animate(
			'.create-card',
			{ opacity: 1, transform: ['translateY(0.75rem)'] },
			{ delay: 0.2, duration: 0.5, easing: ['ease-in'] }
		);
	});

	const createCard = (): void => {
		disableFields = true;
		const { title, content, tags } = $cardForm.summary as any;
		cardService
			.create({
				title,
				content,
				tags
			})
			.then((result) => {
				$cards = [...$cards, result];
			})
			.finally(() => {
				clearCard();
			});
	};

	const clearCard = (): void => {
		const { title, content, tags } = $cardForm.summary as any;
		$title = '';
		$content = '';
		$tags = [];

		disableFields = false;
		createCardState = false;
	};

	const invokeCreateCard = () => {
		createCardState = true;
	};
</script>

<div
	style="background-color: {loadingColor}"
	class="create-card -translate-y-3 max-w-sm w-[24rem] !min-h-[200px] rounded overflow-hidden shadow-lg prose hover:shadow-xl transition duration-0 hover:duration-700 ease-in-out opacity-0"
>
	{#if createCardState}
		<div class="flex flex-row p-3">
			<button
				disabled={disableFields}
				class:text-gray-500={disableFields}
				class:border-gray-500={disableFields}
				on:click={clearCard}
				class="px-2 py-1 border-gray-600 border-2 rounded-xl text-gray-600 font-semibold"
			>
				Cancel
			</button>
			<button
				disabled={disableFields}
				class:text-gray-500={disableFields}
				class:border-gray-500={disableFields}
				on:click={createCard}
				class="ml-auto px-2 py-1 border-gray-600 border-2 rounded-xl text-gray-600 font-semibold"
			>
				Save
			</button>
		</div>
		<div class="px-6 py-4">
			<label for="title">Title</label>
			<input
				bind:value={$title.value}
				disabled={disableFields}
				class:text-gray-500={disableFields}
				type="text"
				id="title"
				class="
              mt-0
              block
              w-full
              px-0.5
              border-0 border-b-2 border-gray-500
              focus:ring-0 focus:border-gray-700
          "
				style="background-color: {loadingColor}"
				required
			/>

			<label for="content">Content</label>
			<textarea
				bind:value={$content.value}
				disabled={disableFields}
				class:text-gray-500={disableFields}
				id="content"
				class="
              mt-0
              block
              w-full
              px-0.5
              border-0 border-b-2 border-gray-500
              focus:ring-0 focus:border-gray-700
          "
				style="background-color: {loadingColor}"
				required
			/>
		</div>
		<div class="px-6 pt-4 pb-2">
			{#each $tags.value as tag}
				<div
					class="inline-flex flex-row items-center max-w-fit bg-gray-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
				>
					<button
						disabled={disableFields}
						class:text-gray-500={disableFields}
						on:click={() => removeTag(tag)}
					>
						<Icon class="hover:cursor-pointer" icon="ant-design:close-outlined" /></button
					>
					{tag}
				</div>
			{/each}
			<div
				class="inline-flex flex-row items-center !max-h-fit !max-w-fit bg-gray-300 rounded-full p-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
			>
				<button
					disabled={disableFields}
					class:text-gray-500={disableFields}
					on:click={() => addTag()}
				>
					<Icon class="hover:cursor-pointer" icon="ant-design:plus-outlined" />
				</button>
			</div>
		</div>
	{:else}
		<div class="flex items-center justify-center h-full">
			<button on:click={() => invokeCreateCard()} class="h-1/3">
				<Icon class="h-full w-full" icon="ant-design:plus-circle-outlined" />
			</button>
		</div>
	{/if}
</div>
