<script lang="ts">
	import { closeModal } from 'svelte-modals';
	import { onMount } from 'svelte';

	import { loginToken } from '../stores';
	import { cardService } from '../services/card.service';

	// provided by Modals
	export let isOpen: boolean;

	let tokenInputRef = null;

	let disableFields = false;

	onMount(() => {
		tokenInputRef.focus();
	});

	const onSubmit = (e: any): void => {
		const token = (document.getElementById('token') as HTMLInputElement).value;
		disableFields = true;

		cardService
			.login(token)
			.then((loggedIn) => {
				if (loggedIn) {
					$loginToken = token;
					closeModal();
				} else {
					console.error('something went wrong');
				}
			})
			.finally(() => (disableFields = false));
	};

	const cancel = (): void => {
		$loginToken = '';
		closeModal();
	};
</script>

{#if isOpen}
	<div
		role="dialog"
		class="fixed top-0 bottom-0 right-0 left-0 flex justify-center items-center pointer-events-none z-10"
	>
		<div
			class="prose min-w-60 rounded-md p-4 bg-white flex flex-col justify-between pointer-events-auto"
		>
			<h2>Login</h2>
			<form on:submit|preventDefault={onSubmit}>
				<label for="token">Token</label>
				<input
					bind:this={tokenInputRef}
					class:text-gray-400={disableFields}
					disabled={disableFields}
					type="password"
					id="token"
					class="
                      mt-0
                      block
                      w-full
                      px-0.5
                      border-0 border-b-2 border-gray-500
                      focus:ring-0 focus:border-gray-700
                  "
				/>
				<div class="mt-8 flex flex-row">
					<button class:text-gray-400={disableFields} disabled={disableFields} on:click={cancel}>
						Cancel
					</button>
					<button
						class:text-gray-400={disableFields}
						disabled={disableFields}
						type="submit"
						class="ml-auto"
					>
						Login
					</button>
				</div>
			</form>
		</div>
	</div>
{/if}
