<script lang="ts">
	import { onMount } from 'svelte';
	import { closeModal } from 'svelte-modals';

	// provided by Modals
	export let isOpen: boolean;

	export let setTagName: (tagName: string) => void;

	let inputRef = null;

	onMount(() => {
		inputRef.focus();
	});

	const onSubmit = () => {
		setTagName((document.getElementById('tagInput') as HTMLInputElement).value);
		closeModal();
	};
</script>

{#if isOpen}
	<div
		role="dialog"
		class="fixed top-0 bottom-0 right-0 left-0 flex justify-center items-center pointer-events-none z-10"
	>
		<div
			class="prose min-w-60 rounded-md p-4 bg-white flex flex-col justify-between pointer-events-auto"
		>
			<h3>Add new tag</h3>
			<form on:submit|preventDefault={onSubmit}>
				<input
					bind:this={inputRef}
					id="tagInput"
					type="text"
					class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-500 focus:ring-0 focus:border-gray-700"
				/>
			</form>
			<button class="mt-8 flex justify-end" on:click={() => closeModal()}>Cancel</button>
		</div>
	</div>
{/if}
